{% extends "base.html" %}{% block title %}Sign Up{% endblock %}
{% block content %}
<form method="POST">
    <h3 align= "center">Sign Up</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="Enter email"
        />
    </div>

    <div class="form-group">
        <label for="staffNO">Staff Number</label>
        <input 
        type="int" 
        class="form-control" 
        id="staffNO" 
        name="staffNO" 
        placeholder="Enter staff number"
        />
    </div>

    <div class="form-group">
        <label for="firstName">First Name</label>
        <input 
        type="text" 
        class="form-control" 
        id="firstName" 
        name="firstName" 
        placeholder="Enter first name"
        />
    </div>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input 
        type="text" 
        class="form-control" 
        id="lastName" 
        name="LastName" 
        placeholder="Enter last name"
        />
    </div>
    <div class="form-group">
        <label for="Rank">Rank</label>
        <select class="form-control" id="Rank" name="Rank" onchange="checkRank()">
            <option value="">Select Rank</option>
            <option value="rank1">CIV</option>
            <option value="rank2">PC</option>
            <option value="rank3">PS</option>
            <option value="rank4">INSP</option>
            <option value="rank5">CI</option>
            <option value="rank6">SUPT</option>
            <option value="rank7">CSUPT</option>
            <option value="rank8">Other</option>
        </select> 
        <input 
            type="text" 
            class="form-control" 
            id="customRank" 
            name="customRank" 
            placeholder="Enter rank"
            disabled
        />
    </div>
    
    <script>
        function checkRank() {
            var rank = document.getElementById("Rank");
            var customRank = document.getElementById("customRank");
            if (rank.value == "rank8") {
                customRank.disabled = false;
            } else {
                customRank.disabled = true;
                customRank.value = customRank.value.toUpperCase();
            }
        }
    </script>
    <div class="form-group">
        <label for="password">Password</label>
        <input 
            type="password" 
            class="form-control" 
            id="password" 
            name="password" 
            placeholder="Enter password"
            required
        />
        <div id="passwordHelp" class="form-text"></div>
        <ul id="passwordConditions">
            <li id="length">At least 8 characters long</li>
            <li id="number">Contain a number</li>
            <li id="uppercase">Contain an uppercase letter</li>
            <li id="symbol">Contain a symbol</li>
        </ul>
    </div>
    
    <script>
        var password = document.getElementById("password");
        var length = document.getElementById("length");
        var number = document.getElementById("number");
        var uppercase = document.getElementById("uppercase");
        var symbol = document.getElementById("symbol");
    
        password.addEventListener('input', function (event) {
            // Check length
            if (password.value.length >= 8) {
                length.classList.add("text-success");
            } else {
                length.classList.remove("text-success");
            }
    
            // Check number
            if (/\d/.test(password.value)) {
                number.classList.add("text-success");
            } else {
                number.classList.remove("text-success");
            }
    
            // Check uppercase
            if (/[A-Z]/.test(password.value)) {
                uppercase.classList.add("text-success");
            } else {
                uppercase.classList.remove("text-success");
            }
    
            // Check symbol
            if (/\W/.test(password.value)) {
                symbol.classList.add("text-success");
            } else {
                symbol.classList.remove("text-success");
            }
        });
    </script>
    <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input 
            type="password" 
            class="form-control" 
            id="confirm_password" 
            name="confirm_password" 
            placeholder="Confirm password"
            required
        />
        <div id="confirmPasswordHelp" class="form-text">Please re-enter your password.</div>
    </div>
    
    <script>
        var password = document.getElementById("password");
        var confirmPassword = document.getElementById("confirm_password");
    
        function validatePassword(){
            if(password.value != confirmPassword.value) {
                confirmPassword.setCustomValidity("Passwords Don't Match");
            } else {
                confirmPassword.setCustomValidity('');
            }
        }
    
        password.onchange = validatePassword;
        confirmPassword.onkeyup = validatePassword;
    </script>
    <br />
    <button type = "submit" class = "btn btn-primary">Submit</button>
    </form>
{% endblock %}